

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>4790</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <script src="js/index.js"></script>


    <form id="saveContactForm" method="post">
        <h2>.</h2>
        <h3>Log into your account!</h3>
        <p>
            <label for="contactId">Username</label>
            <input type="text" name="Id" />
        </p>
        <p>
            <label for="contactName">Password</label>
            <input type="text" name="Name" />
        </p>
        <input type="button" id="saveContact" value="Login" />
    </form>



</body>
</html>
